<?xml version="1.0"?>
<robot name="akari_xacro" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find state_publisher)/akari_gazebo_model/akari_body.urdf.xacro"/>
  <xacro:include filename="$(find state_publisher)/akari_gazebo_model/akari_servo.urdf.xacro"/>
  <xacro:include filename="$(find state_publisher)/akari_gazebo_model/akari_head.urdf.xacro"/>
  <link name="base_footprint"/>

  <xacro:akaribase parent="base_footprint">
    <origin xyz="0 0 0.005" rpy="0 0 0" />
  </xacro:akaribase>

  <xacro:akariservo parent="base_link">
    <origin xyz="0.0 0.012 0.055" rpy="0 0 0" />
  </xacro:akariservo>
  
  <xacro:akarihead parent="servo_link">
    <origin xyz="0.0 -0.024 0.020" rpy="0 0 0" />
  </xacro:akarihead>

</robot>
