<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="akari_base_gazebo">
    <gazebo reference="base_link">
      <mu1>0.05</mu1>
      <mu2>0.05</mu2>
    </gazebo>
    <gazebo reference="servo_link">
      <mu1>0.05</mu1>
      <mu2>0.05</mu2>
    </gazebo>
    <gazebo reference="head_link">
      <mu1>0.05</mu1>
      <mu2>0.05</mu2>
    </gazebo>
  <gazebo>
    <plugin name="joint_states" filename="libgazebo_ros_joint_state_publisher.so">
      <ros>
        <remapping>~/out:=joint_states</remapping>
      </ros>
      <update_rate>20</update_rate>
      <joint_name>pan</joint_name>
      <joint_name>tilt</joint_name>
    </plugin>
    <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
      <robotNamespace>akari_xacro</robotNamespace>
      <frameName>map</frameName>
      <body_name>base_footprint</body_name>
      <ros>
        <namespace>/odometry</namespace>
        <remapping>odom:=ground_truth</remapping>
      </ros>
      <update_rate>10.0</update_rate>
    </plugin>    
  </gazebo>    
  </xacro:macro>
</robot>
