<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="akari_trans" params="prefix interface">
    <transmission name="${prefix}">
      <type>transmission_interface/SimpleTransmission</type>

      <joint name="${prefix}">
        <hardwareInterface>${interface}</hardwareInterface>
      </joint>
      
      <actuator name="${prefix}">
        <hardwareInterface>${interface}</hardwareInterface>
      </actuator>
    </transmission>
  </xacro:macro>
</robot>
